.user-card {
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 1rem;
  transition: all ease-in-out 0.2s;

  span {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
  }

  &:hover {
    background: linear-gradient(0deg, rgba(255, 64, 129, 0.5) 0%, rgba(63, 81, 181, 0.5) 100%);
    transform: scale(1.05);
  }
}
