.loading {
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
